
p.small {line-height: 10%}

h4{color: #336600; line-height: 5%}

.readme{color: #000000; line-height: 50%}

#body {background-color: #00CC99;}
body {background-color: #FFFFD3;}


.appTitle {color: #8B008B;}
.pageHeader h1 {color: #CC6600;}

#a:link{color: #F5DEB3; text-decoration:underline;}
#a:visited{color: #F5DEB3; text-decoration:underline;}
a:link{color: #FF0000; text-decoration:underline;}
a:visited{color: #0000FF; text-decoration:underline;}
a:hover{color: #FF4500; text-decoration:underline;}

li{text-indent:100px; line-height: 100%}
h3 ul li a{text-indent:100px; line-height: 10%}

/*
a:link{color: #FFFFD2; text-decoration:underline}
a:visited{color: #FFFFD2; text-decoration:underline}
a:hover{color: #FF4500; text-decoration:underline}
*/


h5{color: #8B008B;}
h3{color: #000080;}
h2{color: #000080;}

