<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WAP3.4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>/jsp/index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>sehirAdi</param-name>
    <param-value>W. Lafayette</param-value>
  </context-param>
  <context-param>
    <param-name>ilAdi</param-name>
    <param-value>Indiana</param-value>
  </context-param>
  <context-param>
    <param-name>ulkeAdi</param-name>
    <param-value>US</param-value>
  </context-param>
  <servlet>
    <servlet-name>ServletContextServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch05.ServletContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextServlet</servlet-name>
    <url-pattern>/ServletContextServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BasicServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch02.BasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicServlet</servlet-name>
    <url-pattern>/BasicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenericSelamServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch04.GenericSelamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericSelamServlet</servlet-name>
    <url-pattern>/GenericSelamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelamServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch04.SelamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelamServlet</servlet-name>
    <url-pattern>/SelamServlet</url-pattern>
    <url-pattern>/selam</url-pattern>
    <url-pattern>/selam/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelamServlet1</servlet-name>
    <servlet-class>org.javaturk.wap.ch04.SelamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelamServlet1</servlet-name>
    <url-pattern>/SelamServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LifeCycleServlet1</servlet-name>
    <servlet-class>org.javaturk.wap.ch04.LifeCycleServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet1</servlet-name>
    <url-pattern>/LifeCycleServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LifeCycleServlet2</servlet-name>
    <servlet-class>org.javaturk.wap.ch04.LifeCycleServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet2</servlet-name>
    <url-pattern>/LifeCycleServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LifeCycleServlet3</servlet-name>
    <servlet-class>org.javaturk.wap.ch04.LifeCycleServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet3</servlet-name>
    <url-pattern>/LifeCycleServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloJapanServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch04.HelloJapanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloJapanServlet</servlet-name>
    <url-pattern>/HelloJapanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloArabicServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch04.HelloArabicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloArabicServlet</servlet-name>
    <url-pattern>/HelloArabicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContextParameterServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch05.ContextParameterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextParameterServlet</servlet-name>
    <url-pattern>/ContextParameterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleCounterServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch04.SimpleCounterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleCounterServlet</servlet-name>
    <url-pattern>/SimpleCounterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ATMServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch04.ATMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ATMServlet</servlet-name>
    <url-pattern>/ATMServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ATMServlet2</servlet-name>
    <servlet-class>org.javaturk.wap.ch04.ATMServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ATMServlet2</servlet-name>
    <url-pattern>/ATMServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestHeadersServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch05.RequestHeadersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestHeadersServlet</servlet-name>
    <url-pattern>/RequestHeadersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttributeSenderServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch05.AttributeSenderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttributeSenderServlet</servlet-name>
    <url-pattern>/AttributeSenderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttributeReceiverServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch05.AttributeReceiverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttributeReceiverServlet</servlet-name>
    <url-pattern>/AttributeReceiverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BufferingServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch06.BufferingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BufferingServlet</servlet-name>
    <url-pattern>/BufferingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FlushingServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch04.FlushingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlushingServlet</servlet-name>
    <url-pattern>/FlushingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitialParameterServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch05.InitialParameterServlet</servlet-class>
    <init-param>
      <param-name>ilAdi</param-name>
      <param-value>Balikesir</param-value>
    </init-param>
    <init-param>
      <param-name>ulkeAdi</param-name>
      <param-value>Turkiye</param-value>
    </init-param>
    <init-param>
      <param-name>sehirAdi</param-name>
      <param-value>Ayvalik</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitialParameterServlet</servlet-name>
    <url-pattern>/InitialParameterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OnlyServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch03.OnlyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnlyServlet</servlet-name>
    <url-pattern>/OnlyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatusCodesServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch06.StatusCodesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusCodesServlet</servlet-name>
    <url-pattern>/StatusCodesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoFlushingServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch06.AutoFlushingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoFlushingServlet</servlet-name>
    <url-pattern>/AutoFlushingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClientInformationServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch05.ClientInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientInformationServlet</servlet-name>
    <url-pattern>/ClientInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClientSideCachingServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch06.ClientSideCachingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientSideCachingServlet</servlet-name>
    <url-pattern>/ClientSideCachingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UnavailableServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch06.UnavailableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnavailableServlet</servlet-name>
    <url-pattern>/UnavailableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetFormServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch07.GetFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFormServlet</servlet-name>
    <url-pattern>/GetFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostFormServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch07.PostFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostFormServlet</servlet-name>
    <url-pattern>/PostFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ParameterServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch07.ParameterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParameterServlet</servlet-name>
    <url-pattern>/ParameterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch08.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/CookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieAttributesServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch08.CookieAttributesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieAttributesServlet</servlet-name>
    <url-pattern>/CookieAttributesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HitCounterServlet1</servlet-name>
    <servlet-class>org.javaturk.wap.ch08.HitCounterServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HitCounterServlet1</servlet-name>
    <url-pattern>/HitCounterServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HitCounterServlet2</servlet-name>
    <servlet-class>org.javaturk.wap.ch08.HitCounterServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HitCounterServlet2</servlet-name>
    <url-pattern>/HitCounterServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionInformationServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch08.SessionInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionInformationServlet</servlet-name>
    <url-pattern>/SessionInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SourceCodeServlet</servlet-name>
    <servlet-class>org.javaturk.wap.util.SourceCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SourceCodeServlet</servlet-name>
    <url-pattern>/SourceCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RedirectingServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch06.RedirectingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectingServlet</servlet-name>
    <url-pattern>/RedirectingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TargetServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch06.TargetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TargetServlet</servlet-name>
    <url-pattern>/TargetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch06.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch06.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckCookieServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch08.CheckCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCookieServlet</servlet-name>
    <url-pattern>/CheckCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScopeServlet</servlet-name>
    <servlet-class>org.javaturk.wap.jsp.ch05.ScopeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScopeServlet</servlet-name>
    <url-pattern>/ScopeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestDispatcherInclude</servlet-name>
    <servlet-class>org.javaturk.wap.ch06.RequestDispatcherInclude</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDispatcherInclude</servlet-name>
    <url-pattern>/RequestDispatcherInclude</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestDispatcherForward</servlet-name>
    <servlet-class>org.javaturk.wap.ch06.RequestDispatcherForward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDispatcherForward</servlet-name>
    <url-pattern>/RequestDispatcherForward</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IncludedServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch06.IncludedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludedServlet</servlet-name>
    <url-pattern>/IncludedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ForwardedServlet</display-name>
    <servlet-name>ForwardedServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch06.ForwardedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardedServlet</servlet-name>
    <url-pattern>/ForwardedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingleInstanceServlet1</servlet-name>
    <servlet-class>org.javaturk.wap.ch04.SingleInstanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleInstanceServlet1</servlet-name>
    <url-pattern>/SingleInstanceServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingleInstanceServlet2</servlet-name>
    <servlet-class>org.javaturk.wap.ch04.SingleInstanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleInstanceServlet2</servlet-name>
    <url-pattern>/SingleInstanceServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>DefaultValuesFormServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch07.DefaultValuesFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultValuesFormServlet</servlet-name>
    <url-pattern>/DefaultValuesFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ContextAttributeServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch09.ContextAttributeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextAttributeServlet</servlet-name>
    <url-pattern>/ContextAttributeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomeAdmin</servlet-name>
    <jsp-file>/jsp/servlet/ch11/welcomeAdmin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeAdmin</servlet-name>
    <url-pattern>/welcomeAdminJSP.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomeBranchUser</servlet-name>
    <jsp-file>/jsp/servlet/ch11/welcomeBranchUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeBranchUser</servlet-name>
    <url-pattern>/welcomeBranchUserJSP.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomePowerUser</servlet-name>
    <jsp-file>/jsp/servlet/ch11/welcomePowerUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomePowerUser</servlet-name>
    <url-pattern>/welcomePowerUserJSP.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomeDepartmentUser</servlet-name>
    <jsp-file>/jsp/servlet/ch11/welcomeDepartmentUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeDepartmentUser</servlet-name>
    <url-pattern>/welcomeDepartmentUserJSP.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestFilterServlet</display-name>
    <servlet-name>RequestFilterServlet</servlet-name>
    <servlet-class>org.javaturk.wap.ch10.RequestFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestFilterServlet</servlet-name>
    <url-pattern>/RequestFilterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginForm4</servlet-name>
    <jsp-file>/jsp/servlet/ch11/spring/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginForm4</servlet-name>
    <url-pattern>/loginForm4.view</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <description>Property group for common configuration for all the JSP's</description>
      <url-pattern>*.jsp</url-pattern>
      <scripting-invalid>false</scripting-invalid>
    </jsp-property-group>
  </jsp-config>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/ch02/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/jsp/ch02/unavailable.jsp</location>
  </error-page>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/spring/*</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>
      This defines a JNDI resource reference for
      java:comp/env/jdbc/DerbyJPADS DataSource which
      is formally declared in the domain.xml.
    </description>
    <res-ref-name>jdbc/DerbyJPADS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>